@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-primary: var(--accent-primary);
  --color-primary-foreground: var(--text-primary);
  --color-background: var(--bg-primary);
  --color-accent: var(--bg-tertiary);
  --color-accent-foreground: var(--text-primary);
  --color-destructive: #ef4444;
  --color-ring: var(--accent-primary);
  --color-border: var(--border-subtle);
  --color-secondary: var(--bg-secondary);
  --color-secondary-foreground: var(--text-primary);
  --color-input: var(--bg-tertiary);
  --color-card: var(--bg-card);
}

:root {
  --primary: var(--accent-primary);
  --primary-foreground: var(--text-primary);

  --radius: 0.625rem;
  /* Backgrounds */
  --bg-primary: #050610;
  --bg-secondary: #12121c;
  --bg-tertiary: #16172b;
  --bg-card: #070a14;

  /* Primary accent (blue-purple from buttons) */
  --accent-primary: #3d45e4;
  --accent-hover: #6b78ff;
  --accent-text: #525dd6;

  /* Text */
  --text-primary: #e0e1e4;
  --text-secondary: #cccdd4;
  --text-muted: #6b7280;

  /* Borders & subtle elements */
  --border-subtle: #121429;
  --icon-inactive: #9da0c5;

  --purple-primary: #281c57;
}

.dark {
}

@layer base {
  body {
    @apply bg-[var(--bg-primary)] text-[var(--text-primary)];
  }
}
